.dashboard-page-main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px 0px;
}

.statistic-item {
  border: 1px solid #dee2e6;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-container {
  padding: 10px;
  border-radius: 50%;
}

.recent-activity-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #dee2e6;
}

.quotes-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}

.quote-top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quote-item {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 10px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.quote-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.review {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.pending {
  background-color: #ffedd5;
  color: orange;
}

.rejected {
  background-color: #fee2e2;
  color: red;
}
.approved {
  background-color: #d1fae5;
  color: green;
}

.quote-bottom-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.id {
  font-size: 12px;
  color: #6c757d;
}

.name-and-created-at {
  font-size: 12px;
  color: #6c757d;
}
.quote-text {
  font-size: 16px;
  color: #000000;
  font-style: italic;
}

.status-and-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inner-status-and-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  text-decoration: none;
}
.admin-para {
  width: 250px;
}
.admin-comment {
  font-size: 0.875rem;
  color: red;
  margin-top: 4px;
}
